	<ion-view view-title="Que es Agrovirtual" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-que_es_agrovirtual" class=" page-que_es_agrovirtual">
		<div class="card"> <div class="item item-text-wrap">    AgroVirtual es una empresa joven que centraliza y facilita los intercambios y certificaciones de productos agropecuarios. 
Nuestro foco de negocio es FACILITAR Y MEJORAR LAS CONDICIONES DE COMPRA Y VENTA de ganado y otros insumos claves para pequeños, medianos y grandes productores agropecuarios, uniendo las ventajas de la tecnología con las ventajas de las redes personales y profesionales. 
AgroVirtual facilita todo el proceso de gestión y logística de la venta, no solamente uniendo compradores y vendedores, sino también sistematizando, certificando y gestionando el intercambio. 
Para esto, trabajamos en red con médicos veterinarios que realizan la certificación en el establecimiento, confirmando condiciones del animal y de trazabilidad, y facilitando imágenes apropiadas para la venta. 
Esta información clara, confiable y atractiva para la venta, es compartida a través de una red de productores, notificando a prominentes compradores interesados. Una vez concretada la venta, también coordinamos el traslado y pago de los animales.
De esta manera, el intercambio entre productores se potencia, llegando a un mayor número de compradores y vendedores potenciales, se simplifica, estandariza y certifica, mejorando la confianza en el proceso y reduciendo costos inesperados por ineficiencias o mala información. 
 AgroVirtual es la primera y única aplicación creada con el fin de que el productor agropecuario encuentre todo en un solo lugar y al mejor precio. 
Además, podrás comprar o vender ganado con la comisión de un 2%, más baja del mercado.
¿Qué pasa si publico mi lote y no se vende?
 No tiene ningún costo y lo puede retirar después de 10 dias. ¿No es Genial?
Nuestra meta es que el productor agropecuario realice sus negocios de compra - venta con la comisión más baja y en el momento que él lo desee. Mediante publicaciones de lotes, con los datos necesarios como peso, cantidad, raza, etc., con imágenes y videos donde se puedan ver los lotes detalladamente.
Además, se podrán realizar publicaciones gratuitas de insumos, inmuebles, servicios, y todo lo relacionado al sector, donde se detallará cantidad, precio y contacto del vendedor.
  </div></div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
