	<ion-view view-title="Publicar" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-formlarios_para_publicar" class=" page-formlarios_para_publicar">
		<div class="card">
  <div class="item item-text-wrap">
    <p><a run-open-url href="http://yourlink">Publicar Lote para Vender</a></p>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <p><a run-open-url href="http://yourlink">Pedido de Lotes para Comprar</a></p>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <p><a run-open-url href="http://yourlink">Publicar Servicios</a></p>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <p><a run-open-url href=" http://www.agro.aplicacionesmoviles.uy/insumos/">Publicar Insumos</a></p>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <p><a run-open-url href="http://yourlink">Publicar Inmuebles</a></p>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <p><a run-open-url href="http://yourlink">Publicar Arrendamientos -Pastoreos</a></p>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <p><a run-open-url href="http://yourlink">Buscar Trabajo</a></p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
