	<ion-view view-title="Lotes" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-lotes_vender_comprar" class=" page-lotes_vender_comprar">
		<div class="text-center">
	<a class="button button-dark-bg ion-speakerphone" ng-click="openURL(' http://www.agro.aplicacionesmoviles.uy/lotes-vender/')">      Publicar mi lote</a>
</div>
<div class="text-center">
  <br />
  <div class="text-center">
      <a ng-href="#/agrovirtual/destacados"><img ng-src="data/images/images/vacas_home.png" width="100%"></a>
      <br />
  
<!--//link to page `about_us`-->
<div class="item">
	<a class="button button-positive-900-bg ion-ios-cart" ng-href="#/agrovirtual/lotes_vender">      Lotes para la Venta</a>

  </div>
   

<div class="item">
	<a class="button button-positive-900-bg ion-cash" ng-click="openURL('http://www.agro.aplicacionesmoviles.uy/lotes-comprar/')">  Necesito Comprar</a>
</div>
</div>

 <div class="text-center">
      <a ng-href="#/agrovirtual/destacados"><img ng-src="data/images/images/oveja.png" width="80%"></a>
      <br />
 
  


		</ion-content>
		<!-- ./content -->
	</ion-view>
