	<ion-view view-title="Contactar" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-contactar" class=" page-contactar">
		<div class="card"><br />

      <div class="app-icon" style="background: url('data/images/images/logo.png') center;"></div><br />
  <div class="text-center">
    <button run-app-call phone="+59898696636" class="button icon-left ion-android-call">Llamar</button>


  </div>
    <div class="text-center"><br />
    

<button run-app-sms phone="+59898696636" message="Su mensaje" class="button button-assertive icon-left ion-email">SMS</button>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
