	<ion-view view-title="{{ insumos.title.rendered }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-insumos_singles" class="page-insumos_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					<div class="item item-divider"  ng-bind-html="insumos.title.rendered | to_trusted">{{insumos.title.rendered}}</div>
					<div class="item"><span class="subdued" ><span class="icon ion-android-calendar"> {{insumos.x_date}}</span></span></div>
					<div class="item noborder"><img class="full-image" ng-src="{{insumos.x_featured_media_original}}"  zoom-view="true" zoom-src="{{insumos.x_featured_media_original}}"/></div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="insumos.content.rendered | strHTML"></div>
					<div class="item"><span class="subdued" ><span class="icon ion-bookmark"> {{insumos.x_categories}}</span></span></div>
					<!--
					<div class="item">
					<p>Compartir</p>
					<div class="button-bar">
						<button class="button button-small button-assertive icon ion-social-googleplus" ng-click="openURL('https://plus.google.com/share?url=' + insumos.link)"></button>
						<button class="button button-small button-positive icon ion-social-facebook" ng-click="openURL('https://facebook.com/sharer/sharer.php?u=' + insumos.link)"></button>
						<button class="button button-small button-calm icon ion-social-twitter" ng-click="openURL('https://twitter.com/share?url=' + insumos.link)"></button>
						<button class="button button-small button-assertive-900 icon ion-social-pinterest" ng-click="openURL('https://pinterest.com/pin/create/bookmarklet/?&url=' + insumos.link)"></button>
						<button class="button button-small button-positive-900 icon ion-social-linkedin" ng-click="openURL('https://www.linkedin.com/shareArticle?url=' + insumos.link)"></button>
					</div>
					</div>
					-->
					<div class="item">
						<button run-social-sharing message="{{ insumos.link }}" class="button button-small ion-android-share-alt button-outline button-positive icon-left">Compartir</button>
					</div>
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
