	<ion-view view-title="Agrovirtual" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
				


    <div class="text-center">
      <a ng-href="#/agrovirtual/destacados"><img ng-src="data/images/images/header.jpg" width="100%"></a>
      <br />
		
<!--//link to page `bobinos`-->
<div class="text-center">
	<a class="button button-dark-bg ion-speakerphone" ng-click="openURL(' http://www.agro.aplicacionesmoviles.uy/lotes-vender/')">      Publicar mi lote</a>
</div>
      <br />
<!--//link to page `bobinos`-->

			<div class="row">
              <a class="col-33"  ng-href="#/agrovirtual/lotes_vender_comprar">
                  <img ng-src="data/images/images/lote.jpg" width="100%">
					
				</a>
              <a class="col-34"  ng-href="#/agrovirtual/servicos">
                  <img ng-src="data/images/images/servi.jpg" width="100%">
					
				</a>
              <a class="col-34"  ng-href="#/agrovirtual/insumos">
                  <img ng-src="data/images/images/insu.jpg" width="100%">
					
				</a>
			   
            
				
			</div>
          <div class="text-center">
			<!-- row -->
			<div class="row">
               <a class="col-34"  ng-href="#/agrovirtual/arrendamientos">
                  <img ng-src="data/images/images/arrendamientos.jpg" width="100%">
					
				</a>
				<a class="col-33"  ng-href="#/agrovirtual/inmuebles">
                  <img ng-src="data/images/images/inmu.jpg" width="100%">
					
				</a>
			    
				
				<a class="col-34"  ng-href="#/agrovirtual/trabajos">
                  <img ng-src="data/images/images/trabajos.jpg" width="100%">
					
				</a>
              
			</div>
            <p>Publicaciones gratuitas y la compraventa de ganado con la comisión más baja (2%).</p>
		
		</div>
    

 
          
		</ion-content>
		<!-- ./content -->
	</ion-view>
