<?xml version='1.0' encoding='utf-8'?>
<widget id="uy.aplicacionesmoviles.agrovirtual" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Agrovirtual</name>
	<description>Agrovirtual</description>
	<author email="abayuba1@gmail.com" href="http://aplicacionesmoviles.uy">Eduardo Abayuba Rodriguez</author>
	<content src="index.html" />
	<!-- Network Request Whitelist -->
	<access origin="*" />
	<access origin="tel:*" launch-external="yes"/>
	<access origin="geo:*" launch-external="yes"/>
	<access origin="mailto:*" launch-external="yes"/>
	<access origin="sms:*" launch-external="yes"/>
	<access origin="market:*" launch-external="yes"/>
	<!-- Navigation Whitelist -->
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	<!-- Intent Whitelist -->
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="rtsp://*" />
	<allow-intent href="rtmp://*" />
	<allow-intent href="rtp://*" />
	<allow-intent href="udp://*" />
	<allow-intent href="file://*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<allow-intent href="whatsapp:*" />
	<allow-intent href="line:*" />
	<allow-intent href="twitter:*" />
	<allow-intent href="fb:*" />
	<allow-intent href="skype:*" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>
	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
	<preference name="DisallowOverscroll" value="false"/>
	<preference name="SplashScreenDelay" value="6000"/>
	<preference name="FadeSplashScreenDuration" value="6000"/>
	<preference name="android-minSdkVersion" value="16"/>
	<preference name="BackupWebStorage" value="none"/>
	<preference name="SplashScreen" value="screen"/>
	<preference name="Orientation" value="default"/>	
    
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="android-build-tool" value="gradle" />
	<platform name="android">
		<preference name="loadUrlTimeoutValue" value="20000" />
		<preference name="ErrorUrl" value="retry.html" />
		<preference name="LoadingDialog" value="Inicio...,Espere por avor..." />
	</platform>
	<platform name="ios">
		<preference name="ErrorUrl" value="Application Error" />
	</platform>
	<feature name="StatusBar">
		<param name="ios-package" onload="true" value="CDVStatusBar"/>
	</feature>
	<!-- default -->
	<plugin name="cordova-plugin-device" />
	<plugin name="cordova-plugin-console" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="ionic-plugin-keyboard" />
	
	<!-- ./default -->
	<plugin name="cordova-plugin-inappbrowser" />
	<gap:plugin name="onesignal-cordova-plugin" spec="^2.1.1" source="npm" />
	<platform name="android">
		<icon qualifier="ldpi" src="www/res/icon/android/ldpi-icon.png" />
		<icon qualifier="mdpi" src="www/res/icon/android/mdpi-icon.png" />
		<icon qualifier="hdpi" src="www/res/icon/android/hdpi-icon.png" />
		<icon qualifier="xhdpi" src="www/res/icon/android/xhdpi-icon.png" />
		<icon qualifier="xxhdpi" src="www/res/icon/android/xxhdpi-icon.png" />
		<icon qualifier="xxxhdpi" src="www/res/icon/android/xxxhdpi-icon.png" />
		<!-- not support using custom source -->
		<splash density="ldpi" src="www/res/screen/android/ldpi.png" />
		<splash density="mdpi" src="www/res/screen/android/mdpi.png" />
		<splash density="hdpi" src="www/res/screen/android/hdpi.png" />
		<splash density="xhdpi" src="www/res/screen/android/xhdpi.png" />
		<splash density="xxhdpi" src="www/res/screen/android/xxhdpi.png" />
		<splash density="xxxhdpi" src="www/res/screen/android/xxxhdpi.png" />
		<!-- ./not support using custom source -->
	</platform>
	<platform name="ios">
	
<!-- iPhone -->
     <icon src="www/res/icon/ios/iphone-app-60pt@2x.png" platform="ios" width="120" height="120" />
     <icon src="www/res/icon/ios/iphone-app-60pt@3x.png" platform="ios" width="180" height="180" />
	 <icon src="www/res/icon/ios/iphone-notification-20pt@2x.png" platform="ios" width="40" height="40" />	
	 <icon src="www/res/icon/ios/iphone-notification-20pt@3x.png" platform="ios" width="60" height="60" />
	 <icon src="www/res/icon/ios/iphone-spotlight-40pt@2x.png" platform="ios" width="80" height="80" />	
     <icon src="www/res/icon/ios/iphone-spotlight-40pt@3x.png" platform="ios" width="120" height="120" />	
	 <icon src="www/res/icon/ios/iphone-spotlight-settings-29pt@2x.png" platform="ios" width="58" height="58" />
	 <icon src="www/res/icon/ios/iphone-spotlight-settings-29pt@3x.png" platform="ios" width="87" height="87" />
		
	 <icon src="www/res/icon/ios/icon-512.png" platform="ios" width="512" height="512" />
	 <icon src="www/res/icon/ios/icon-1024.png" platform="ios" width="1024" height="1024" />
		
		
		
		
<!-- iPad -->
     <icon src="www/res/icon/ios/ipad-app-76pt@1x.png" platform="ios" width="76" height="76" />
     <icon src="www/res/icon/ios/ipad-app-76pt@2x.png" platform="ios" width="152" height="152" />
     <icon src="www/res/icon/ios/ipad-notifications-20pt@1x.png" platform="ios" width="20" height="20" />
	 <icon src="www/res/icon/ios/ipad-notifications-20pt@2x.png" platform="ios" width="40" height="40" />
	 <icon src="www/res/icon/ios/ipad-pro-app-83.5pt@2x.png" platform="ios" width="167" height="167" />	
		
	<icon src="www/res/icon/ios/ipad-settings-29pt@1x.png" platform="ios" width="29" height="29" />	
    <icon src="www/res/icon/ios/ipad-settings-29pt@2x.png" platform="ios" width="58" height="58" />	
	<icon src="www/res/icon/ios/ipad-spotlight-40pt@1x.png" platform="ios" width="40" height="40" />	
    <icon src="www/res/icon/ios/ipad-spotlight-40pt@2x.png" platform="ios" width="80" height="80" />
      
		
    <!--screem.......................-->
		<splash src="www/res/screen/ios/Default.png" platform="ios" width="320" height="480" />
        <splash src="www/res/screen/ios/Default@2x.png" platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
        <splash src="www/res/screen/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />

<!-- iPhone 6 -->
     <splash src="www/res/screen/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
      <splash src="www/res/screen/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
      <splash src="www/res/screen/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />

<!-- iPad -->
     <splash src="www/res/screen/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
      <splash src="www/res/screen/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
     <splash src="www/res/screen/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
     <splash src="www/res/screen/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
		
	</platform>
</widget>